/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #112d70;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.temporizador-container {
    text-align: center;
    background-color: #83aae4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3498db;
}

#temporizador-display {
    font-size: 36px;
    margin-bottom: 20px;
}

#temporizador-input {
    font-size: 16px;
    padding: 10px;
    width: 100px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#startTemporizador {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#startTemporizador:hover {
    background-color: #2980b9;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .temporizador-container {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .temporizador-container {
        width: 90%;
    }
}
